<div class="container-fluid" style="padding-top: 3rem;">
  <% @supplements.in_groups_of(3,false).each do |supplements| %>
    <div class="row">
      <% supplements.each do |supplement| %>
        <div class="col-4 mt-3">
            <div class="card" style="height: 170px;">
                <div class="card-horizontal" style="display: flex; flex: 1 1 auto;">
                    <div class="img-square-wrapper">
                        <img class="" src="http://via.placeholder.com/90x120" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="card-title" style="font-weight:bold;"><%= supplement.name.truncate(45) %></p>
                        <p class="card-text"><%= supplement.brand.name %><br/><%= supplement.category.name %></p>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated <%= time_ago_in_words(supplement.updated_at) %> ago.</small>
                </div>
            </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
